body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: large;
}

img {
    display: block;
    margin: auto;
}

.dev {
    color: blue;
}

.qa, .test, .staging, .stg {
        color: green;
}

.prd, .prod {
    color: red;
}

footer {
    margin-top: 50px;
    font-size: x-small;
}